<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.musicplayer" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- android:configChanges的作用是防止按电源键锁屏，会关闭activity，从而导致关闭service -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CountdownActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".activity.PlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>

        <service android:name=".service.MusicService" />

        <activity
            android:name=".activity.MusicListActivity"
            android:label="音乐列表" >
        </activity>
        <activity
            android:name=".activity.TestActivity"
            android:label="音乐列表"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.ScanFileActivity"
            android:icon="@drawable/icon_file"
            android:label="扫描指定文件夹" >
        </activity>
    </application>

</manifest>
